<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-product-group-heading">Create or edit a Product Group</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!productGroup.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="productGroup.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_productGroupName">Product Group Name</label>
                    <input type="text" class="form-control" name="productGroupName" id="field_productGroupName"
                        [(ngModel)]="productGroup.productGroupName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type" [(ngModel)]="productGroup.type" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_parentProductGroup">Product Group Id</label>
                    <select class="form-control" id="field_parentProductGroup" name="parentProductGroup" [(ngModel)]="productGroup.parentProductGroupId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productGroupOption.id" *ngFor="let productGroupOption of productgroups; trackBy: trackProductGroupById">{{productGroupOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
