<div>
    <h2 id="page-heading">
        <span>Product Groups</span>
        <div class="btn-group float-right">
            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-group"
                [routerLink]="['/product-group/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span>
                    Create new Product Group
                </span>
            </button>

            <button id="jh-garph-view" class="btn btn-primary float-right" [routerLink]="['/product-group/d3-view']">
                <fa-icon [icon]="'search'"></fa-icon>
                <span>
                    D3 view
                </span>
            </button>
        </div>
    </h2>

    <jhi-alert></jhi-alert>

    <br />
    <div class="table-responsive" *ngIf="productGroups"></div>
    <p-table #dt [value]="productGroups" [responsive]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,20]"
        [pageLinks]="3" [globalFilterFields]="['id','productGroupName','type','productGroupId']">
        <ng-template pTemplate="caption">
            <div style="text-align: right">
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'equals')"
                    style="width:auto">
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th [pSortableColumn]="'id'">
                    <span>ID</span>
                    <p-sortIcon [field]="'id'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
                <th><span>Product Group Name</span></th>
                <th><span>Type</span></th>
                <th><span>Product Group Id</span></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-productGroup>
            <tr>
                <td>{{productGroup.id}}</td>
                <td>{{productGroup.productGroupName}}</td>
                <td>{{productGroup.type}}</td>
                <td>{{productGroup.productGroupId}}</td>
                <td>
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" [routerLink]="['/product-group', productGroup.id, 'view' ]" class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit" [routerLink]="['/product-group', productGroup.id, 'edit']" class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'product-group/'+ productGroup.id + '/delete'} }]"
                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<!--
<div class="table-responsive" *ngIf="productGroups">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><span>ID</span></th>
                <th><span>Product Group Name</span></th>
                <th><span>Type</span></th>
                <th><span>Product Group Id</span></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let productGroup of productGroups ;trackBy: trackId">
                <td><a [routerLink]="['/product-group', productGroup.id, 'view' ]">{{productGroup.id}}</a></td>
                <td>{{productGroup.productGroupName}}</td>
                <td>{{productGroup.type}}</td>
                <td>
                    <div *ngIf="productGroup.productGroupId">
                        <a [routerLink]="['../product-group', productGroup.productGroupId , 'view' ]">{{productGroup.productGroupId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" [routerLink]="['/product-group', productGroup.id, 'view' ]" class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit" [routerLink]="['/product-group', productGroup.id, 'edit']" class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'product-group/'+ productGroup.id + '/delete'} }]"
                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
-->
</div>
