<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productGroup">
            <h2><span>Product Group</span> {{productGroup.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Product Group Name</span></dt>
                <dd>
                    <span>{{productGroup.productGroupName}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{productGroup.type}}</span>
                </dd>
                <dt><span>Parent Product Group</span></dt>
                <dd>
                    <div *ngIf="productGroup.parentProductGroupId">
                        <a [routerLink]="['/product-group', productGroup.parentProductGroupId, 'view']">{{productGroup.parentProductGroupId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-group', productGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
