.node {
    cursor: pointer;
    transition: stroke-width 0.1s ease-out,
        fill 0.1s ease-out,
        stroke 0.1s ease-out;

    stroke: white;
    stroke-width: 0.25;
}


.node-opacity {
    opacity: 1;
}

.node-opacity-half {
    opacity: 0.5;
}

.node-button {
    cursor: pointer;
    transition: stroke-width 0.1s ease-out,
        fill 0.1s ease-out,
        stroke 0.1s ease-out;
}

.node-name {
    font-family: 'Lato';
    text-anchor: middle;
    alignment-baseline: central;
    font-weight: 300;
    fill: white;
}

.node-details {
    text-anchor: start;
}
