<svg:g [attr.transform]="'translate(' + node.x + ',' + node.y + ')'">
    <!--Tooltip-->
    <svg:g *ngIf="isShowToolTip && isHasToolTip">
        <svg:rect [attr.opacity]="0.7" [attr.width]="node.toolTipWidth" [attr.height]="node.toolTipHeight+6" [attr.x]="node.NODEHEIGHT*-1.2"
            [attr.y]="node.toolTipHeight*-1-node.TOOLTIPHEIGHT*1.5" rx="1" ry="1" />

        <svg:g *ngFor="let item of node.toolTip;">
            <svg:g *ngIf="node.id == item.id">
                <svg:g *ngFor="let data of item.dataList">
                    <svg:text class="node-name node-details" [attr.font-size]="12" [attr.y]="-ATTRY*data.id*1.5"
                        [attr.x]="-node.NODEWIDTH/3">
                        {{data.data}}
                    </svg:text>
                </svg:g>
            </svg:g>
        </svg:g>
    </svg:g>

    <!-- Show Node Connections -->

    <svg:g>
        <!-- [attr.opacity]="node.opacity" -->


        <!-- Header -->
        <svg:g (mouseover)="showNodeLinkTo(node.id)" (mouseout)="hideNodeLinkTo(node.id)">
            <svg:rect class="node" [attr.fill]="node.color" [attr.opacity]="node.opacity" [attr.width]="node.nodeWidth+node.NODEWIDTH/2"
                [attr.height]="node.nodeHeight" [attr.x]=node.NODEHEIGHT*-1.5 [attr.y]=node.NODEHEIGHT*-0.5 rx="1.5" ry="1.5" />
            <svg:text class="node-name" [attr.font-size]="node.fontSize" [attr.x]="node.nodeWidth/4">
                {{node.id}} - {{node.name}}
            </svg:text>
        </svg:g>
        <!-- Buttom -->
        <svg:g *ngIf="isHasDetails" (click)="showDetails(node.id)">
            <svg:rect class="node-button" [attr.fill]="node.color" [attr.opacity]="node.opacity/10" [attr.width]="node.NODEWIDTH/3-1"
                [attr.height]="node.NODEHEIGHT-2" [attr.x]="-node.NODEWIDTH/2+1" [attr.y]="node.NODEHEIGHT*-0.5+1" />
            <polyline fill="none" stroke="#FFFFFF" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"
                points="45.63, 75.8 0.375, 38.087 45.63, 0.375 " transform="rotate(270) scale(0.25) translate(-30 -170)" />
        </svg:g>

        <!-- Details -->
        <svg:g *ngIf="isShowDetails">
            <svg:g *ngFor="let item of node.details;">
                <svg:text class="node-name node-details" [attr.font-size]="node.fontSize" [attr.y]="ATTRY*item.svgPosition"
                    [attr.x]="-node.NODEWIDTH/3">
                    {{item.productName}}
                </svg:text>
            </svg:g>
        </svg:g>

    </svg:g>
</svg:g>
